@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.200');
    border-right-color: theme('colors.accent.700');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.accent.700');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

html,
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.accent.700') theme('colors.primary.50');
}

:focus-visible {
  @apply outline outline-4 outline-offset-2 outline-accent-700/50;
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.700') !important;
  --rdp-background-color: theme('colors.primary.300') !important;
  margin: 0 !important;
}

.rdp-caption_label {
  font-weight: 600 !important;
}
